#title,.container-fluid{
    background-color: #FF4161;
}

h1{
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    line-height: 1.5;
    display: inline-block;
    font-size: 2rem;
    text-align: right;
    margin-top: 100px;
    font-weight: 1000;
}
.navbar-brand{
    font-size: 2rem;
    font-weight:bolder;
    display: inline-block;
    margin:25px 0 0 180px;
}
.nav-link{
    font-weight: 500;
    color: aliceblue;
}
.button{
    padding-left: 100px;
}
.mob-dog{
    width:40%;
    transform: rotate(30deg);
}
.feature>p,.feature>h3{
    text-align: center;
}
.feature{
    padding:100px 0s;
    text-align: center;
}
h3{
    font-family:"Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top:20px;
}
.fa-4x{
    color: #ef8172;
}
.fa-4x:hover{
    color: #FF4161;
}
.feature>p{
    color: #8f8f8f;
    display: inline-block;
}
.carousel-item{
    background-color: #FF4161;
    height: 500px;
    text-align:center;
}
.testimonial-text{
    position: absolute;
    top:6.25rem;
    left: 8.5vw;
    color: aliceblue;
    font-family: 'Montserrat';
    font-size: 3vw;
    font-weight: 800;
}
.testimonial-image{
    width: 80px;
    position: absolute;
    top:350px;
}
em{
    width: auto;
    position: absolute;
    top: 26.875rem;
}
#press{
    background-color:#FF4161;
    padding-bottom: 20px;
    text-align: center;
}
.logos>img{
    width: 15%;
    margin:0 30px 0 30px;
}
